 <%= render 'home/index' unless user_signed_in? %>
 
      <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>

 
<div class="box">
   <div class="panel panel-default">
      
<%= link_to image_tag(pin.image.url(:medium)), pin %><br/>
  <div class="panel-body">
        <%= pin.description %><br/>
        <%= pin.user.name if pin.user %>
        <br/>
        </div>
        <% if pin.user == current_user %>
        <div class="panel-footer">
        &nbsp;<%= link_to 'Edit', edit_pin_path(pin) %>&nbsp;
        <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
        </div></div>
    
    <% end %>

    </div>