<div class="panel panel-default">
  <div class="panel-heading"><h2>Forgot your password?</h2></div>
  <div class="panel-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>
 </div>
<div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>
