<div class='jumbotron center'>
<p>...</p>
<!-- Standard button -->
    <% if user_signed_in? %>
        <%= link_to "List Pins", pins_path,class: 'btn btn-primary' %>
     <% else %> 
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <%= link_to "login", new_user_session_path, class: 'btn btn-default' %>
        <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>
    <% end %> 

</div>

